/*
* soak.com info customer base code v1.0
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*  SECTIONS  */
.section {
clear: both;
padding: 0px;
margin: 0px;
}
/*  COLUMN SETUP  */
.col {
display: block;
float:left;
margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }
/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
width: 100%;
}
.span_1_of_2 {
width: 49.2%;
}
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }
/*  GRID OF FOUR  */
.span_4_of_4 {
width: 100%;
}
.span_3_of_4 {
width: 74.6%;
}
.span_2_of_4 {
width: 49.2%;
}
.span_1_of_4 {
width: 23.8%;
}
/*  GRID OF FIVE  */
.span_5_of_5 {
width: 100%;
}
.span_4_of_5 {
width: 79.68%;
}
.span_3_of_5 {
width: 59.36%;
}
.span_2_of_5 {
width: 39.04%;
}
.span_1_of_5 {
width: 18.72%;
}
/*  GRID OF SIX  */
.span_6_of_6 {
width: 100%;
}
.span_5_of_6 {
width: 83.06%;
}
.span_4_of_6 {
width: 66.13%;
}
.span_3_of_6 {
width: 49.2%;
}
.span_2_of_6 {
width: 32.26%;
}
.span_1_of_6 {
width: 15.33%;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
.col { 
margin: 1% 0 1% 0%;
}
}
@media only screen and (max-width: 480px) {
.span_2_of_2, .span_1_of_2 { width: 100%; }
.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
.mobileOff {display:none;}    
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
font-size: 62.5%; }
body {
font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
line-height: 1.6;
font-weight: 400;
font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #54575b; }
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: 2rem;
font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem; font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
/* Larger than phablet */
@media (min-width: 550px) {
h1 { font-size: 5.0rem;  font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
h2 { font-size: 4.2rem; font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
h3 { font-size: 3.6rem; font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
}
p {
margin-top: 0; }

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.buttonTB,
buttonTB,
input[type="button"] {
display: inline-block;
height: 38px;
padding: 0 30px;
color: #fff;
text-align: center;
font-size: 11px;
font-weight: 600;
font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 38px;
letter-spacing: .1rem;
text-transform: uppercase;
text-decoration: none;
white-space: nowrap;
background-color: transparent;
border: 1px solid #fff;
cursor: pointer;
box-sizing: border-box; }
.buttonTB:hover,
buttonTB:hover,
input[type="button"]:hover,
.buttonTB:focus,
buttonTB:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
color: #54575b;
border-color: #00bfb2;
outline: 0; }
.buttonTB.buttonTB-primary,
buttonTB.buttonTB-primary,
input[type="reset"].buttonTB-primary,
input[type="button"].buttonTB-primary {
color: #FFF;
background-color: #00bfb2;
border-color: #007573; }
.buttonTB.buttonTB-primary:hover,
buttonTB.buttonTB-primary:hover,
input[type="reset"].buttonTB-primary:hover,
input[type="button"].buttonTB-primary:hover,
.buttonTB.buttonTB-primary:focus,
buttonTB.buttonTB-primary:focus,
input[type="reset"].buttonTB-primary:focus,
input[type="button"].buttonTB-primary:focus {
color: #FFF;
background-color: #00bfb2;
border-color: #007573; }
